[2018-03-09 19:33] Cretezy opened #1 "Web support"
Would be nice to decouple the `PersistorGate` and enable custom storage drivers, so we can support `localStorage` on the web.

[2018-03-09 20:48] Cretezy commented on #1
My thoughts is that there should be a `redux_persist_flutter` package that implements a storage driver (and includes the PersistorGate, since it's Flutter-specific), and eventually a `redux_persist_web` package that saves to `localStoage`

[2018-03-09 22:06] Cretezy commented on #1
I've created a generic `StorageEngine` and `FlutterStorage`, and updated the example. This should allow for a better decoupling.

[2018-03-09 22:06] #1 closed

[2018-03-13 08:52] Cretezy opened #2 "Add Redux link in docs"
Reminder to myself (or anyone wanting to do a PR) to add a link to the pub package of redux.dart in the redux_persist root README and main package README. Also should add flutter_redux recommendation for redux_persist_flutter.

[2018-03-14 13:48] Salvatore-Giordano opened #3 "error adding to pubspec"
I get this error after `flutter packages get`
[code]

[2018-03-14 16:00] Cretezy commented on #3
Which version are you trying to pull?

[2018-03-14 16:10] Cretezy commented on #2
Done in d4c9415

[2018-03-14 16:10] #2 closed

[2018-03-15 08:46] imtoori commented on #3
0.4.5

[2018-03-15 08:49] Cretezy commented on #3
Try 0.4.6. There was a small mistake in the packaging of the previous version.

[2018-03-15 11:51] imtoori commented on #3
Always the same error

[2018-03-15 16:34] Cretezy commented on #3
Which version of `redux_persist` are you trying? Try using v0.5.2.

[2018-03-19 03:55] Cretezy commented on #3
Closing due to inactivity.

[2018-03-19 03:55] #3 closed

[2018-03-23 08:22] petnagy opened #5 "Exception when I run this project: The getter '_store' was called on null."
Hello,

I copied your example and when it start it throws an exception:
I/flutter (26980): The following NoSuchMethodError was thrown building StoreConnector<AppState, String>(dirty):
I/flutter (26980): The getter '_store' was called on null.
I/flutter (26980): Receiver: null
I/flutter (26980): Tried calling: _store

If I comment out persistor.start(store); than it is running but there is nothing

[2018-03-23 09:02] petnagy commented on #5
Additional information it is working with redux_persist: ^0.4.0

[2018-03-23 16:31] Cretezy commented on #5
Try a newer version, like 0.6.0. I think this was a bug in 0.4.0.

[2018-03-30 14:43] ooasis commented on #5
This is likely related to https://github.com/brianegan/flutter_redux/issues/30#issuecomment-377507358

Can this project be updated with latest release of redux & flutter_redux (0.5.0)?

[2018-03-31 19:02] Cretezy commented on #5
Alright, working on upgrading to the latest dependencies. Except a new version today.

[2018-03-31 23:49] Cretezy commented on #5
Try out the new RCs:

* https://pub.dartlang.org/packages/redux_persist/versions/0.7.0-rc.1
* https://pub.dartlang.org/packages/redux_persist_flutter/versions/0.6.0-rc.1

This should work as intended. Let me know of any issues you run into.

[2018-04-01 12:17] petnagy commented on #5
Thanks I will try it.

[2018-04-08 10:02] igoooor opened #6 "0.7.0-rc.1 persistor.createMiddleware() not correct subtype"
When running the following portion of code
[code]

I receive the following error
`type '(Store<AppState>, dynamic, (dynamic) => void) => Future<Null>' is not a subtype of type '(Store<dynamic>, dynamic, (dynamic) => void) => void'`

Here are my dependencies
[code]

And I correctly followed all migration steps (yours and the one of flutter_redux).
On a side note, I had it perfectly working until th

[2018-04-08 10:13] igoooor commented on #6
My guess is it comes from the `async` in `redux_persist.dart`
[code]

[2018-04-09 15:08] Cretezy commented on #6
Can you give me the line number which throws this error?

[2018-04-09 15:09] igoooor commented on #6
it comes from the function `Persistor.createMiddleware()`, line 77

[2018-04-10 01:54] Cretezy commented on #6
Published `0.7.0-rc.2`. Should fix this.

Let me know if everything is good! If so, I'll push it as `0.7.0`.

[2018-04-14 13:37] Cretezy commented on #5
@petnagy How is the RCs working?

[2018-04-15 21:13] petnagy commented on #5
@Cretezy thanks, it seems me ok. It is working for me!

[2018-04-15 21:13] #5 closed

[2018-04-18 20:42] neckaros opened #7 "Issue with Pubsec"
Hello,

When adding redux_persist in my pubsec as specifued on pub i get the following error:

[code]

[code]

if i set no version it works but i get 0.7.0 rc1

[2018-05-01 21:22] ordsen opened #8 "Undefined name 'FlutterSaveLocation'"
Hi,

I cannot access the FlutterSaveLocation enum, I think /packages/redux_persist_flutter/lib/redux_persist_flutter.dart should also include FlutterSaveLocation in its exported classes:
[code]
That way we can use the enum. If that's wrong: What would be the right solution to access the FlutterSaveLocation enum?

[2018-05-02 12:53] Cretezy commented on #8
You're correct, I forgot to export it. Want to do a PR?

[2018-05-02 15:26] ordsen opened #10 "Integration with json_serializable"
Hi,

how would you integrate redux_persist with json_serializable? json_serializable requires a factory method in the AppState class as such:

[code]

As it's not possible to pass a reference to the `AppState.fromJson(....)` constructor to the Persistor.decoder field I would do something like this:
[code]
Is it save to assume that the `dynamic json` will always be of type `Map<String, dynamic>`? H

[2018-05-02 18:59] Cretezy commented on #10
`dynamic json` can actually be anything, because your `toMap/Json` function could return any `dynamic`.

I think the simplest thing is to do the JSON serialization code elsewhere and then call it from the `fromJson` that redux_persist accepts.

[2018-05-03 11:47] giorgiogross commented on #10
Okay thanks! So basically if I enforce my toJson to return a map (just as in your example) then fromJson will get that map as parameter during deserialization?

I just noticed there is a typo in my question: I meant to call `return AppState.fromJson(json) ` instead of `return AppState.fromJsonWrapper(json)`

[2018-05-03 12:31] gedw99 opened #11 "sync session between a users different devices"
use case : If you sync the persisted redux between your many devices you could pick up where you left off on your other devices ?

[2018-05-03 16:42] Cretezy commented on #11
That seems out of scope for `redux_persist`. The way to approach this would be to send the saved state to a server and grab in on load, but that's not the goal of this library, sorry! I'd be glad to guide you to making this though

[2018-05-03 16:43] #11 closed

[2018-05-04 08:02] imtoori commented on #6
I have the same problem with 0.7.0-rc2 :/

the error is a bit different
`type '(Store<AppState>, dynamic, (dynamic) => void) => Null' is not a subtype of type '(Store<dynamic>, dynamic, (dynamic) => void) => void'`

[2018-05-04 18:43] Cretezy commented on #6
Seems like you are returning `Null` somewhere instead of void?

[2018-05-04 18:50] imtoori commented on #6
Me? I don't think.
I think the reason is that the package uses dart redux 2.x and I use redux 3.x

[2018-05-21 09:08] #10 closed

[2018-05-21 09:08] #8 closed

[2018-05-23 09:10] nicolashemonic opened #12 "SerializationException: Save: Converting object to an encodable object failed"
Hi,

I installed latest version:

[code]

When an action is dispatched the following exception is thrown:

__SerializationException: Save: Converting object to an encodable object failed: Instance of 'AppState'__

[code]

Find below redux_persist implementation.

### Main
[code]

### App State
[code]

### App Reducer
[code]

Thanks for your help !

[2018-05-23 13:47] nicolashemonic commented on #12
The exception is thrown by Dart:convert json.encode in redux_persist.dart.
[code]

Following Dart documentation, if value contains objects that are not directly encodable to a JSON string (a value that is not a number, boolean, string, null, list or a map with string keys), the toEncodable function is used to convert it to an object that must be directly encodable.

If toEncodable is omitted, it d

[2018-05-23 13:53] nicolashemonic commented on #12
@Cretezy I think it would be nice to have more documentation about this and save lot of time of everyone. 😉

[2018-05-23 17:16] nicolashemonic commented on #12
Maintaining serialization could be complex when app growth. For anyone search a better solution than writing toJson() manually you can find below an example of how to implement [JSON Serializable library](https://pub.dartlang.org/packages/json_serializable) with redux_persist.

### pubspec.yaml
[code]

### app_state.dart
[code]

### counter_state.dart
[code]

### app.dart
[code]

Then, you can gen

[2018-05-23 21:42] Cretezy commented on #12
It definitely needs a better way to serialize things. I was planning on adding module serializers.

I'll try to get to it this weekend, been very busy recently. Let me know of your ideas on implementations

[2018-05-27 05:10] Cretezy commented on #7
This is pretty odd. It is working now?

[2018-05-27 05:16] #7 closed

[2018-06-03 17:43] hillelcoren opened #14 "redux_persist <0.7.0-rc.1 is incompatible with redux_logging 0.3.0"
Thanks for creating this library!

I'm seeing the following error when trying to install it, I think upgrading to the latest version of redux should resolve it.

https://github.com/Cretezy/redux_persist/blob/master/packages/redux_persist/pubspec.yaml#L11
https://github.com/brianegan/redux_logging/blob/master/pubspec.yaml#L11

    Because redux_persist <0.7.0-rc.1 depends on redux ^2.1.1 and redux_

[2018-06-03 23:53] Cretezy commented on #14
Actually, I just hadn't pushed `0.7.0-rc`'s code.

It requires `^3.0.0`: https://github.com/Cretezy/redux_persist/blob/master/packages/redux_persist/pubspec.yaml

Try using `0.7.0-rc.2`

[2018-06-04 05:35] hillelcoren commented on #14
Thanks, it seems to be working now.

Not sure, I was just using `redux_persist: "^0.6.0"` per the docs.

[2018-06-04 05:35] #14 closed

[2018-06-19 23:07] halldors opened #15 "FlutterSaveLocation is not exported in redux_persist_flutter"
Hi, I cannot use sharedPreferences in version  0.6.0-rc.1 because it is not exported. I get this error

    compiler message: lib/app.dart:24:55: Error: The getter 'FlutterSaveLocation' isn't defined for the class '#lib1::_AppState'.
    compiler message: Try correcting the name to the name of an existing getter, or defining a getter or field named 'FlutterSaveLocation'.

[2018-06-20 16:53] Cretezy commented on #15
https://github.com/Cretezy/redux_persist/blob/41667567cc347183c91ad2066cdcb18da2320a65/packages/redux_persist_flutter/lib/redux_persist_flutter.dart#L5

I believe you are importing it from the wrong file?

[2018-06-21 08:33] halldors commented on #15
Thanks for that. But this has not been published then. This commit was made on May 2. However the latest version on pub.dartlang.org is 0.6.0-rc.1 and that was published on Mar 31. I will appreciate it if you could publish a new version with that fix. Thanks again.

[2018-06-21 15:17] Cretezy commented on #15
The latest for `redux_persist` is `0.7.0-rc.2`, and for `redux_persist_flutter` is `0.6.0-rc`. Are you using those versions?

[2018-06-21 15:43] halldors commented on #15
Yes, I'm using those versions.

redux_persist: "^0.7.0-rc.2"
redux_persist_flutter: "^0.6.0-rc.1"

<img width="934" alt="screen shot 2018-06-21 at 15 41 53" src="https://user-images.githubusercontent.com/16035199/41729818-be907dd8-7569-11e8-84ea-200df302d51d.png">

[2018-06-25 02:31] manhhaiphp commented on #12
@nicolashemonic Thank you so much. You save my time :)

[2018-06-29 13:55] jagged3dge opened #16 "Is it possible to force-clear serialized state if loading fails?"
Hi! Thank you for this fantastic package!
Unfortunately, I get thrown `SerializationException: Load: FormatException: Unexpected character` on app restart.
Seems there could be some issue when serializing/saving the state via the proxy wrapper (`toJsonWrapper`) method, as described in #10

I could attempt to investigate and fix that, if I could only clear the currently stored data from the storage

[2018-07-06 05:13] bgetsug commented on #15
I'm experiencing the same issue. My workaround in `pubspec.yaml`:
[code]
I believe the `redux_persist_flutter` package needs to be published again, incrementing the version.

[2018-07-08 05:05] Cretezy commented on #15
Yep, I'll republish soon. Thanks for the heads up!

[2018-07-09 17:01] ppeetteerrs-tinklabs opened #17 "Suggestion: Add in a Delay Option"
Would be nice if the PersistGate Widget accepts a delay parameter stating the duration that the splash screen should be visible for, or else the loading screen won't be shown most of the time.

[2018-07-15 16:16] Cretezy commented on #17
Good idea!

[2018-07-15 16:17] Cretezy commented on #17
Just as a bonus, if you do the initialization and wait before running `runApp`, it will stay using the default splash screen, making it seemless!

Flutter doesn't remove the default slash screen until `runApp` is ran.

[2018-07-23 03:34] Yaxian opened #18 "It will show black screen for a moment after loading store, even though set loading Widget"

[2018-07-23 08:19] ghost commented on #11
I am doing the same using a golang server and NATS.

When a value is persisted it's sent also to the server. The NATS message queue then will push it to all your devices once they come online.

@cretezy

[2018-07-23 09:01] #18 closed

[2018-07-26 12:27] techyrajeev opened #19 "Load data to persist asynchronously"
Basically I want to load firebase remote config parameters when app starts and store it in app state while creating store.

So that whenever I need it I just fetch it from store and get remoteConfig value.

class App extends StatelessWidget {
// Get firebase remote config and store it in appState
 ---> final store = createStore();

 App();

  @override
  Widget build(BuildContext context) {
    re

[2018-08-10 17:03] Cretezy commented on #19
`await persistor.load(store);`

I also recommend putting the persistor declaration inside your `main`, and `await`ing before doing `runApp`.

[2018-08-10 17:03] #19 closed

[2018-08-10 17:04] Cretezy commented on #15
Publish `0.7.0` and `0.6.0`!

[2018-08-10 17:04] #15 closed

[2018-08-10 17:04] #17 closed

[2018-08-11 04:02] Sh1d0w opened #20 "Feature request: Option to check if the current action should trigger a save"
Hello and thanks for the great plugin.

Looking at the source I don't see it possible to provide an option which returns true / false and controls the saving on the state based on that. The middleware intercepts every action, except the persist one and saves the store, which causes a lot of overheat especially if you are interested in saving only a part of your store.

As an example: in my app, th

[2018-08-13 13:33] Cretezy commented on #20
Good idea. Do you have any ideas how to implement this?

What I'm thinking:
- Make a class type like `PersistSkip` with the getter `bool shouldSkip` (defaults to true)
- Make your actions which you don't want to extend `PersistSkip`
- The middleware will check if your action is of type PersistSkip, and will skip if `shouldSkip` is true

[2018-08-13 13:47] Sh1d0w commented on #20
@Cretezy Thats sounds great!

[2018-08-13 13:51] Cretezy commented on #20
Alright, I'll implement it.

I've restarted doing a lot more Flutter/Dart stuff in the past weeks and will definitely give a major overhaul to the library soon, this should be included.

[2018-08-13 13:51] Cretezy commented on #16
Wrap the first `persistor.load` in a try catch?

[2018-08-16 06:40] Sh1d0w commented on #20
For anyone having the same problem, before this gets implemented I've resolved it temporarily by adding my custom middleware, instead of `persistor.createMiddleware()` .

First create a placeholder class

`class NoPersist {}`

Then for actions you want to skip, just extend from this class.

In your store initialisation put this middleware:

[code]

[2018-08-18 13:16] osamagamal65 opened #21 "Save: Converting object to an encodable object failed: Instance of 'AppState'"
trying to use persist getting when dispatching any action I get this error
Save: Converting object to an encodable object failed: Instance of 'AppState';

this is the presistor

`final persistor = new Persistor<AppState>(
    storage: new FlutterStorage('Pecards'), decoder: AppState.rehydrationJSON);
`

this is the app State model class

`class AppState {
  final bool isLoading;

  final AuthState

[2018-08-22 19:07] ianrothmann opened #22 "Using with built_value"
Hi there,
Thanks for a great library!

Is there perhaps any guidance on using it with built_value to serialize/deserialize?

Kind regards,

Ian

[2018-08-22 19:12] ianrothmann commented on #6
Were you able to solve this? I'm having the exact same issue here.

type '(Store<AppState>, dynamic, (dynamic) => void) => Null' is not a subtype of type '(Store<dynamic>, dynamic, (dynamic) => void) => void'

When calling:
persistor.createMiddleware()

[2018-08-23 01:45] Cretezy commented on #6
This is very odd, as I can't really reproduce this.

Can you give me a full example that I can run to reproduce this?

[2018-08-23 01:46] Cretezy commented on #22
Custom serializes are on the way in a future release! I'm sorry I haven't had much time to work on this recently

[2018-08-23 02:32] ianrothmann commented on #6
If I change this (in redux_persist.dart):
[code]
to this:

[code]

The error goes away.

Using: flutter 0.5.1, redux 3.0.0

[2018-08-28 12:55] jagged3dge commented on #16
I did some digging and found that this is somehow being caused by an extra ending brace `}` at the end of the JSON string of the serialized state. Since this is probably an issue with the serialization library I'm using, I think we can safely close this issue.

Thank you for the interest :+1:

[2018-08-28 12:55] #16 closed

[2018-09-03 16:04] vishant-jaiswal opened #23 "Multiple Action Dispatch"
with every restart i see multiple call for save and done as below

I/flutter (23114): Persistor debug: Starting loading
I/flutter (23114): Persistor debug: Done loading
I/flutter (23114): Persistor debug: Start saving
I/flutter (23114): Persistor debug: Start saving
I/flutter (23114): Persistor debug: Start saving
I/flutter (23114): Persistor debug: Done saving
I/flutter (23114): Persistor debug:

[2018-09-03 16:23] Cretezy commented on #23
It seems like you a dispatching many many actions.

I would recommend creating one action that does many changes inside the reducer.

[2018-09-05 15:46] gunhansancar commented on #20
@Sh1d0w Thanks for sharing your implementation. On my case I'd prefer to opposite version so instead of `NoPersist` I'd like to have `Persist` because there are usually a lot of unnecessary actions like loading, onerror, onresult, bla bla. actions which I don't want it to trigger any kind of savings. So I'll just do `if (action is Persist) {` and that'll do it.

[2018-09-10 23:13] mendieta opened #25 "Persistor debug: Error in load: SerializationException: Load: FormatException:"
Hi,

I have an issue, after saving the data successfully and restarting the app the persistor throws an error while loading the data.

Load: FormatException: Unexpected character (at character 1965)
...P71hvMH0hAclthtxWaj6KBErGuR9ovy6qr_oBUFDuNcp_1Vk-g","isAuthorized":true}}}}

The error i that the json string has one extra `}` at the end, i have inspected the saves json and all the data is correc

[2018-09-11 17:42] mendieta commented on #25
After more digging i found that the json string is being sent correctly to the FlutterStorage, adding a breakpoint to line 63 of `storage.dart` confirms this. But just after that last save if i inspect the json file stored in the device it has that extra `}`.

Its the same issue someone talked about in #16 but was closed.

After some more digging i tested with `FlutterSaveLocation.sharedPreference

[2018-09-25 18:39] PiercarloSlavazza commented on #25
Same error here.

Really, really **critical**, because data gets corrupted in a way which seems totally random, and hardly recoverable. Some times it's just matter of "extra" characters as in the case reported by @mendieta , but in some other cases the json is corrupted "in the middle", leaving with few or null recovery options.

Unofrtunately, I cannot reporduce the issue - it just seem to occur

[2018-09-25 18:42] PiercarloSlavazza commented on #16
@jagged3dge I am having the very same issue: have you been able to pinpoint the bug? Which serialization library are you using?

[2018-09-25 21:02] PiercarloSlavazza commented on #25
@Cretezy I beg your pardon if, as a Dart apprentice, I am going to say bullshits, but, I was looking at [this code](https://github.com/Cretezy/redux_persist/blob/master/packages/redux_persist_flutter/lib/src/storage.dart#L63) and I was wondering what might happen if two isolates try to execute it in a concurrent way: could it be possible at all? Because, if possible, I wonder if this situation mig

[2018-09-25 21:09] PiercarloSlavazza commented on #25
... or maybe it is the very same isolate which is processing another event of the event loop, while waiting for the file system... could it be possible?

[2018-09-26 04:22] jagged3dge commented on #16
@nullp01nt3r I'm using [json_serializable](https://pub.dartlang.org/packages/json_serializable) package for serialization.

I couldn't, however, pinpoint which part of the state is causing the extra brace after being serialized. So, I had to resort to monkey-patching a personal fork of the json_serializable to handle the case, limited to this project.

I haven't been able to reproduce this issue o

[2018-09-26 13:52] Cretezy commented on #25
@nullp01nt3r would make sense to add a lock there, I agree.

I'm working on a part-rewrite of this package for v1.0 with a much more solid way to handle serialisation and storage (more modular!).

In this case we don't want to run this code in isolates. IO is non-blocking in Dart, so moving it to isolate would use more memory, could cause race conditions, and is definitely not recommended to do.

[2018-09-26 13:54] Cretezy commented on #6
Hey! Try again using the latest versions and let me know how it goes for you!

[2018-09-26 13:54] #6 closed

[2018-09-27 06:51] PiercarloSlavazza commented on #25
@Cretezy I have already forked the project and done a very simple integration with the `synchronized` library: I am testing it within out test team - I will report here whether the patch fixed the problem after having collected enough evidences.

[2018-09-27 06:53] PiercarloSlavazza commented on #16
@jagged3dge as a second tought, I do not believe it's serialization fault: if you want, have a look at:

* https://github.com/Cretezy/redux_persist/issues/25#issuecomment-424500539
* https://github.com/Cretezy/redux_persist/issues/25#issuecomment-424502275
* https://github.com/Cretezy/redux_persist/issues/25#issuecomment-424723273
* https://github.com/Cretezy/redux_persist/issues/25#issuecomment-4

[2018-09-28 12:28] Cretezy commented on #25
Sounds good! Let me know of your findings. I will incorporate the ideas in the next version

[2018-10-02 07:36] PiercarloSlavazza commented on #25
After a week or os of usage of the app w/ the "patched" version of the library, the deserialization issue occurred no more. The app is not yet release, we are talking only abount the testers team, but I believe that the issue has been actually fixed because, before the patch, it occurred very often.

@Cretezy I will send a pull request, so that, if you want, you can merge this simple patch in orde

[2018-10-16 17:51] Albert221 opened #27 "NoSuchMethodError: The method '[]' was called on null."
Hey! I just started implementing redux_persist, but came on an error as in the title. I've managed to fix it.

Look at my code:

[code]

I found the error, it's in the `json.decode` (from `dart:convert` of course) line. The problem is, that if the data is `null`, the correct value of this JSON encoded data is `'null'` and the exception is thrown, because of this line (`redux_persist.dart:154`):

[

[2018-10-16 19:56] Cretezy commented on #27
Very clever on having the data in Firestore!

I'm going to be updating this library either at the end of the week or the weekend with exactly what you need. I'm reworking fully how loading/saving works, and will remove this issue.

But as you said your solution if fine for now. It won't depend on json anymore!

Also little cleanup:
[code]

[2018-11-06 05:09] Cretezy commented on #27
This was fix/changed/removed in 0.8.0-rc.0, let me know if that fixes your problem!

[2018-11-06 05:09] #27 closed

[2018-11-06 05:10] Cretezy commented on #25
This was fixed in 0.8.0-rc.0!

[2018-11-06 05:10] #25 closed

[2018-11-06 05:10] Cretezy commented on #12
This was added in 0.8.0-rc.0, let me know if that fixes your problem!

[2018-11-06 05:10] #12 closed

[2018-11-06 05:11] Cretezy commented on #22
This was added in 0.8.0-rc.0, let me know if that fixes your problem!

Sorry for taking so long!

[2018-11-06 05:11] #22 closed

[2018-11-06 05:11] Cretezy commented on #20
This was added in 0.8.0-rc.0, let me know if that fixes your problem!

[2018-11-06 05:11] #20 closed

[2018-11-06 05:11] Cretezy commented on #23
This was fixed in 0.8.0-rc.0, let me know if that fixes your problem!

[2018-11-06 05:11] #23 closed

[2018-11-06 05:12] Cretezy commented on #21
I think was fixed in 0.8.0-rc.0, let me know if that fixes your problem!

[2018-11-06 05:12] #21 closed

[2018-11-06 10:58] vishant-jaiswal commented on #23
Thanks...will do the testing again and let you know

[2018-11-06 13:46] ianrothmann commented on #22
Awesome, thank you so much!

On Tue, Nov 6, 2018 at 7:11 AM Charles Crete <notifications@github.com>
wrote:

--

[2018-11-06 14:25] raymondurgelles opened #28 "Persistor debug: Error while loading: SerializationException: On load: NoSuchMethodError: The getter 'length' was called on null."
Good Day!!! Thanks for a very nice plugin. I am new to mobile dev and i just recently learned about redux and persist. When I was using this plugin version 0.7.0, my code is working, when i upgraded, and followed what was written in readme, i get this error

Persistor debug: Starting load...
I/flutter ( 8521): Persistor debug: Loading from storage
I/flutter ( 8521): Persistor debug: Running load r

[2018-11-06 14:38] Cretezy commented on #28
Good point, there's a missing null check in the JsonSerializer, will add!

[2018-11-06 20:16] Cretezy commented on #28
Pushed `0.8.0-rc.1` of redux_persist with a fix for this! Let me know if that's good.

[2018-11-06 20:16] #28 closed

[2018-11-07 11:25] raymondurgelles commented on #28
It works perfectly! thanks!
thumbs up!!!!

[2018-11-15 22:49] diogo-ribeiro-bitmaker commented on #28
@Cretezy Still happens to me since the data in 'state = serializer.decode(data)' is null and it sends the null to the AppState.fromJson which gets an the same exception.
I'm using the 0.8.0-rc.1 of redux_persist.
Please can you help?

[2018-11-15 22:53] Cretezy commented on #28
The `AppState.fromJson` must be able to handle a null state. It's by design for now, because you might want to return an empty state

[2018-11-15 23:29] diogo-ribeiro-bitmaker commented on #28
Oh ok.. Ill check it out tomorrow and I'll let you know if I need anything.
Thanks for the fast response! Keep up the good work! :)

[2018-11-15 23:54] Cretezy commented on #28
Thank you, keep giving feedback, it's always helpful to have someone else's opinion! :)

[2018-11-16 14:58] diogo-ribeiro-bitmaker commented on #6
Hey again @Cretezy! I'm having this problem now.
My code is divided in two files and that seems to be an issue:

- File Store:
[code]
- File Middleware:
[code]

And if I do this, it starts to work:
[code]
The problem seems to be that the `persistor.createMiddleware()` needs to be in the same file as the creation of the store but that doesn't make sense.
Could you help please? Thanks! :)

[2018-11-23 14:04] vishant-jaiswal commented on #23
Hey Cretezy,

It seems the implementation itself changed a lot now we dont need to pass store variable to persistor.load().

I changed my code as you mentioned in example.
Now i am getting following error while application launch.

[code]

i tried with 0.8.0-rc.0 as well as 0.8.0-rc.1

this is my implementaion of main fucnction

[code]

tell me if i am doing anything wrong here

[2018-11-23 18:41] Cretezy commented on #23
It is possible that your `AppState.fromJson` does a `.length` on a `null` value?

The decoder must be able to accept a `null` value passed in. Usually you'll want to return an empty state when this happens.

[2018-11-23 22:00] nagoya0 opened #29 "persistor.load() throws SerializationException when persistence file is nothing"
Hi! Thanks for the great plugin.
I'm trying redux_persist 0.8.0-rc.1.
App throws SerializationException when persistence file is nothing such as app's first run.
Looks like returning null without exception is expected behavior according to sample codes.
[code]
my code:
[code]

[2018-11-25 02:03] Cretezy commented on #29
Your JSON decoder function (`AppState.fromJson`) must be able to accept `null`, you'll most likely want to return an empty state.

[2018-11-25 02:04] #29 closed

[2018-11-25 07:24] psyanite opened #30 "Proper way to handle exceptions in persistor.load?"
[code]

The Readme has no indication on how to handle an exception on persistor.load, so I wrote this try catch because when there is an exception on persistor.load, the app freezes and stays white unless I put in the try catch. If there is a better way to write this, please let me know I would really appreciate it.

[code]

[2018-11-27 05:59] Cretezy commented on #30
A `try...catch` is the proper way to handle this.

[2018-11-27 05:59] #30 closed

[2018-11-28 15:57] aurostudio commented on #29
@Cretezy: Can you give an example here for AppState.fromJson accepts null? I have the same issue, tried to accept the null as you mentioned but it doesn't help at all. Thanks!

[2018-12-28 16:20] vishant-jaiswal opened #31 "How to use redux_persist when store is implemented using built_redux"

[2018-12-28 16:25] vishant-jaiswal commented on #31
I am getting following error while loading

E/flutter (26697): [ERROR:flutter/shell/common/shell.cc(184)] Dart Error: Unhandled exception:
E/flutter (26697): SerializationException: On load: NoSuchMethodError: The getter 'first' was called on null.
E/flutter (26697): Receiver: null
E/flutter (26697): Tried calling: first
E/flutter (26697): #0      Persistor.load (package:redux_persist/src/persisto

[2019-01-04 08:32] Knupper commented on #31
i get a similar error when i start the app the first time. then persistor.load() throws a error. i fixed it with the following code:

` try {
    initialState = await persistor.load();
  } catch (e) {
    // ;
  }`

here is my old code:

`  final persistor = Persistor<AppState>(
    storage: FlutterStorage(),
    serializer: JsonSerializer<AppState>(AppState.fromJson),
    debug: true,
  );

  fin

[2019-01-05 06:11] Cretezy commented on #31
The error is thrown from you serializer, as seen with `SerializationException`. Are you calling `.first` in your serializer?

Don't forget that serializer must handle null cases. Data coming in/out must be able to accept null or empty data, and fallback gracefully.

[2019-01-05 06:11] #31 closed

[2019-02-01 05:27] Positev opened #33 "On load: Concurrent modification during iteration: Instance(length:3) of '_GrowableList'."
void main() async{

  final persistor = Persistor<GMWAN_AppState>(
    storage: FlutterStorage(key: "GMWAN_AppState.json", location: FlutterSaveLocation.sharedPreferences), // Or use other engines
    serializer: JsonSerializer<GMWAN_AppState>(GMWAN_AppState.fromJson), // Or use other serializers
  );

  // Load initial state
/*

  final initalStateCompleter = Completer<dynamic>();

  persistor.lo

[2019-02-05 03:31] Sh1d0w opened #34 "Bump shared_preferences version"
Hi,

When migration to AndroidX, there is a new shared_preferences version 0.5.0, but redux_persist version is pinned at 0.4.0 which causes dependencies to fail to install unless I override them with `dependencies_overrides`.

Can we get version bump, please?

[2019-02-05 03:38] Sh1d0w opened #35 "Placeholder while state is loading"
Hi,

with the old version 0.6.x we had PersistorGate which provided loading widget to display while state is loading.

With version 0.8.x of the package I see this was removed and now the state initialization must happen before you create your store and thus before rendering the initial root widget.

This is a deal breaker, why such a nice feature was removed and is there any possible workaround t

[2019-02-11 18:33] Cretezy commented on #33
This seems to happen because you are calling `load` twice. Try with just one

[2019-02-11 18:33] Cretezy commented on #34
Will do :+1:

Are you sure you are installing 0.5.0 though? Because it's pinned at `^0.4.0`, which makes `0.5.0` compatible

[2019-02-11 18:35] Cretezy commented on #35
You can simply show something else while it's loading, it's super easy to do. I removed the PersistorGate **because** it was so easy to add.

Something like:
- Have a "App" component that called `persistor.load()` in `initState`
- Have a FutureBuilder that waits until it's loaded

[2019-02-11 18:51] Cretezy commented on #34
Done with 0.8.1

[2019-02-11 18:51] #34 closed

[2019-02-11 19:42] Sh1d0w commented on #35
@Cretezy that seems reasonable. Thanks!

[2019-02-11 19:42] #35 closed

[2019-02-12 22:27] Tacocopter opened #36 "Converting object to an encodable object failed: Instance of 'AppState'"
I'm having some trouble with the json serialization of my AppState, my code for fromJson and toJson is below. Could you help provide me with some insight into this issue?

Error:
[code]

Main:
[code]

AppState:
[code]

AuthState:
[code]

[2019-02-14 23:03] Cretezy commented on #36
This is quite weird, but I don't think it's caused by this library. It seems like the JSON encoder is having trouble encoding your AppState. I see that you have a `toJson` which looks correct, however maybe one of the sub-fields of AuthState isn't encodable.

Try manually creating an AppState and passing it to `json.encode` (from `dart:convert`) and tweaking with it until it works

[2019-02-14 23:04] Cretezy commented on #33
Feel free to reopen the issue if this doesn't fix it!

[2019-02-14 23:04] #33 closed

[2019-02-18 22:09] bgetsug opened #37 "Please update `synchronized` package"
Hi, can you update to the latest `synchronized` package? I've got a transitive dependency on `synchronized: ^2.0.2`. (Currently using `dependency_overrides` in my `pubspec.yaml` and that appears to be an acceptable workaround.) Thanks much :)

[2019-02-19 00:25] Cretezy commented on #37
Updated in `0.8.1`!

[2019-02-19 00:25] #37 closed

[2019-02-21 20:55] GiacomoK opened #39 "data maintained even after app is uninstalled"
As subject, I noticed data is maintaned even after the app is unistalled.

This is code I use:

    // Create Persistor
    final persistor = Persistor<AppState>(
        storage: FlutterStorage(),
        serializer: JsonSerializer<AppState>(AppState.fromJson),
    );

    // Load initial state
    final initialState = await persistor.load();

    if (initialState.isLoggedIn && initialState.acces

[2019-02-22 21:21] Cretezy commented on #39
This is odd. The OS should be clearing the data correctly. Can you try on iOS? This is not related to this library however

[2019-03-07 06:12] ArthurianX opened #40 "Can't seem to save a more complex state"
Hey @Cretezy,

first of all, thanks for this library, it's nice to have all these over to dart!

I seem to have a problem persisting data - I'm REALLY  new at dart - I got the serialization down and working I believe, fixed all the errors, but the data doesn't seem to save.

It's an open repo, https://github.com/ArthurianX/g4media-mobile/blob/master/lib/main.dart, I'm not sure where the problem la

[2019-03-07 06:15] ArthurianX commented on #40
Files of interest:

https://github.com/ArthurianX/g4media-mobile/blob/master/lib/main.dart - instantiation

https://github.com/ArthurianX/g4media-mobile/blob/master/lib/src/state/g4_store.dart - store, serialization

https://github.com/ArthurianX/g4media-mobile/blob/master/lib/src/services/g4media_search_api.dart - serialization

https://github.com/ArthurianX/g4media-mobile/blob/master/lib/src/mod

[2019-03-10 17:43] Cretezy commented on #40
https://github.com/ArthurianX/g4media-mobile/blob/8e845560b8efa51d2b5cbc52af28cd423f162605/lib/src/state/g4_store.dart#L60 and https://github.com/ArthurianX/g4media-mobile/blob/8e845560b8efa51d2b5cbc52af28cd423f162605/lib/src/state/g4_store.dart#L68 seems wrong. It should be the inverse.

I can't really seem to see what's wrong with the overall program though. Could you run the app, trigger a save

[2019-03-10 17:44] Cretezy commented on #39
Closing due to inactivity. Feel free to reopen

[2019-03-10 17:44] Cretezy commented on #36
Closing due to inactivity, feel free to reopen!

[2019-03-10 17:44] #36 closed

[2019-03-10 19:53] ArthurianX commented on #40
You were right about the inverse things, I missed that, still learning dart.

Also, I had to go through both ways of serialization of the json part. It works now, pushed the latest code.

Thanks a lot, closing this issue, it was human error :), mine.

[2019-03-10 19:53] #40 closed

[2019-03-19 02:14] MeFelixWang commented on #36
I got this problem too, did you find any method to deal with this? @Tacocopter

[2019-03-25 07:59] zaubererty opened #41 "PersistLoadingAction missing in 0.8"
What is the concept of replacing this action.
I have issues without being notified when a load happens.

Please advice.

Btw I miss a breaking change notice.

[2019-03-25 15:20] Cretezy commented on #41
The [CHANGELOG](https://github.com/Cretezy/redux_persist/blob/master/packages/redux_persist/CHANGELOG.md#080-rc0---2018-11-06) states that they were removed and are a breaking change (as expected by the major version bump, minor for <1.0.0).

Basically, you should call `.load()` manually instead of relying on actions. This makes loading much simpler, as it's always called before the application lo

[2019-03-25 17:39] zaubererty commented on #41
I did some additional loading when the app state has been loaded.

The other use case where to get notified when loading is complete to do additional work.

Off cause you can do the loading and all the other stuff by your self but then I might switch better to the BloC pattern and do everything myself.

Oh now I see "Breaking: Change saving/loading" means removed actions, sorry my mistage.

[2019-03-25 17:45] Cretezy commented on #41
You can easily do this current. Simply dispatch your own action after loading.

[code]

[2019-03-27 22:52] #41 closed

[2019-04-10 11:52] zhanguangao commented on #27
@Cretezy  It seems that this error will be thrown in version 0.8.2, try `persistor.load()` catch can avoid this error.

[2019-04-10 15:50] Cretezy commented on #27
@zhanguangao That is a bug in your `fromJson` method, since data can be `null`, you have to handle that manually (this is intended)

[2019-04-11 01:51] zhanguangao commented on #27
@Cretezy Your are right, thank you!

[2019-04-13 05:07] jlcool opened #42 "Supporting asynchronous methods"
AppState.fromJson is an asynchronous method，I can't write it like this. How should I write it?
[code]

[2019-04-13 17:34] Cretezy commented on #42
How come is it asynchronous? Since it's just serializing, it should be synchronous, and you must do any async actions after loading (such as after doing `persistor.load()`, which will return the result of the serializer)

[2019-04-14 00:37] jlcool commented on #42
Because I encrypt and decrypt the serialized data, and this encryption and decryption method is asynchronous, I am afraid that the serialized data will be modified, affecting software security.

[2019-04-14 00:39] Cretezy commented on #42
That's supposed to be part of the storage instead. Copy/paste the FlutterStorage and add your encryption there

[2019-04-14 00:45] jlcool commented on #42
Well, thank you

[2019-04-14 00:48] Cretezy commented on #42
No problem! Let me know if you need any help. Feel free to create a package to let others use it too!

[2019-04-14 00:48] #42 closed

[2019-04-21 13:53] richie-south opened #43 "Quick question"
Hey 👋

Just wondering if this affects redux / flutter performance in any way? :)

[2019-04-22 18:48] Cretezy commented on #43
It really shouldn't. The saving/loading is fully async, so disk operations are obviously off-thread, the biggest time spent is in parsing/stringifying, so small to medium states will be just fine and very fast, so unless you have a **huge** state (many MBs), it should be extremely quick.

If you need a huge state, I would recommend using SQLite instead, where you can load what you need as you go (

[2019-04-23 04:08] #43 closed

[2019-04-25 23:04] GermanCV opened #44 "Unhandled Exception: SerializationException: On load: NoSuchMethodError: The method '[]' was called on null in Flutter"
Unhandled Exception: SerializationException: On load: NoSuchMethodError: The method '[]' was called on null in flutter.

my dependencies are:

 flutter_redux: ^0.5.3
 redux_persist_flutter: ^0.8.1

[2019-04-26 00:24] Cretezy commented on #44
Your `fromJson` method must be able to handle `null` if no state is present.

[2019-04-26 00:24] #44 closed

[2019-04-29 08:58] remygautron opened #45 "Converting object to an encodable object failed"
Hello, I have an error :

[code]

ServicesStates :

[code]

[2019-05-14 20:28] konradkevin opened #46 "dart2js - Error: Only external js-interop functions are supported."
dart: **2.3.0**
redux_persist: **^0.8.2**
redux_persist_web: **^0.8.2**

I got this error when trying to compile for web using `webdev build` though it compiles successfuly when building with the --no-release option `webdev build --no-release`.

Here is the build.yaml file:

[code]

Here is the complete error:

[code]

I hope you could give me a hand with that!

[2019-05-14 20:38] Cretezy commented on #46
Could you give me a full ZIP example?

[2019-05-14 20:52] konradkevin commented on #46
Surely, here it is
project.zip

[2019-06-11 20:09] emaddoma commented on #22
Any chance you could provide a quick example here as a reply of how to specify the serializer when using built_value?

[2019-06-12 20:37] Cretezy commented on #22
I've never used built_value, so I unfortunately can't give an example. It shold be the same as any JSON though.

[2019-06-12 20:38] Cretezy commented on #46
Hey it seems like you didn't upload anything by accident!

[2019-06-12 20:39] Cretezy commented on #45
Hey sorry I forgot about this.

You should implement a `toJson` on `Service`, and do something like this:
[code]

[2019-06-12 20:39] #45 closed

[2019-06-14 18:45] wuestkamp commented on #29
For me I need to pass a user, so my fromJson handles null like this:

[code]

[2019-06-14 20:07] Cretezy commented on #29
Oh wow I have no clue how I never saw that comment. But yes, the above comment is right, just check if the param is null.

[2019-06-17 09:52] naiveai opened #47 "Decide which properties to place where?"
Is there a way to, using a transform or something, segregate different parts of app my app state into different boxes? Ie, some need to go into SharedPreferences, some need to go into appdir, some need to use a custom storage class, or whatever.

[2019-06-17 13:32] Cretezy commented on #47
I don't think it really would support this, nor do I want to support this. It would drastically increase the complexity of the package if this was added. Maybe if you propose a good and simple implementation, it can be.

However, I would recommend writing your own if you need it to be very customized.

[2019-06-17 17:48] naiveai commented on #47
@Cretezy Yeah, that does make sense, the only current block on my end is that the storage class can't really analyze the data and decide where to put things cause it gets a Uint8List. I don't think you should implement this into core, but I really would appreciate if you had some sort of workaround in transforms that allowed me to make decisions in my storage class somehow... obviously that still

[2019-06-17 17:48] #47 closed

[2019-06-18 18:21] TechGeekD opened #49 "how to manually purge presisted data"
is there any method for manually purging persisted data, like for example clear persisted data when user signed out.

below is my persistor setup:
[code]

[2019-06-19 01:09] Cretezy commented on #49
This should automatically be handled, since your Redux state should be cleared when you logout

[2019-06-20 13:39] TechGeekD commented on #49
Why I didn't think about this before, now it totally makes sense.

I had multiple reducers for different states respectively, but forgot to implement app level reducers which could have helped me reset state on log out, thanks 🙌.

[2019-06-20 13:39] #49 closed

[2019-06-20 14:22] Cretezy commented on #49
No problem!

[2019-06-22 13:44] dali546 opened #50 "Dependency Conflict path_provider"
the path provider plugin causes a dependency issue when other packages require 1.1.0
graphql uses the latest path provider, and there are some bug fixes that are in the latest release.
[code]

[code]

is this possible to update?

[2019-06-22 17:27] Cretezy commented on #50
Will do in next release 👍

In the meantime you can override the package, and see if that works

[2019-06-22 18:23] dali546 commented on #50
well for now, I've removed your package (it's not greatly impacting my development as I am in early stages)

but hopefully soon it gets sorted. thanks

[2019-06-26 11:12] AlexVegner opened #51 "Multipart state persistance mechanism"
I would like to have ability to manage persistance for specific part of AppState.
**Examle:**

[code]
persist userState to "UserState.json" file, and don't save it if it wasn't changed.
persist userState to "OfferSate.json" file, and don't save it if it wasn't changed.
and don't persist OtherDataState

[2019-06-26 13:48] Cretezy commented on #51
This is definitely a good idea. I will take a look into seeing if this can be implemented easily.

[2019-06-29 06:14] ciokan commented on #51
This should be a priority. I never done an app with redux that contained only primitives. All my app states point to different custom objects.

[2019-06-29 06:20] Cretezy commented on #51
@ciokan I'm not sure if you understand this issue. The OP only wants to save difference portions of his state to different files.

You can serialize anything using this package. Your toJson method can return any data

[2019-06-29 06:31] ciokan commented on #51
Oh. I thought that this plugin does not work work for state that is a bit nested.

[2019-06-29 06:33] Cretezy commented on #51
It works very well for that. You can just call the nested object's toJson in your main toJson. If you have any other questions, feel free to open another ticket to keep this one on topic!

[2019-07-26 05:54] ianrothmann commented on #51
Hi @Cretezy! Multipart state is a great idea. It slows the apps down quite a bit having to serialize everything with every action, especially if you have a large state object, of which a large part of the information does not change regularly. Let me know if you need any help.

Kind regards,

Ian

[2019-07-28 13:29] ananaszjoe commented on #50
~~Can I ask for a release, so I could use the package with the compatible path_provider dependency?~~
**Edit:** If anyone wants to temporarily fetch the package from git instead of pub, can do so in their pubspec.yaml:
[code]

[2019-08-12 18:57] Cretezy commented on #50
v0.8.2 is out fixing this.

[2019-08-12 18:57] #50 closed

[2019-08-26 23:33] HelaGone commented on #45
Hello @Cretezy
How do you implement a `toJson` in the model? I've been trying this to work, but still get this error:
`Unhandled Exception: Converting object to an encodable object failed: Instance of 'AppState'`

Here is my FavoriteItem class with its own toJson method:
[code]
And here is my AppState:

[code]

I'm not sure what I'm doing wrong. Please point me in the right direction.

[2019-08-27 02:59] Cretezy commented on #45
Okay so for the first:

[code]

and second:

[code]

Let me know if you have any question. If you compare yours vs this, you should be able to see which were the areas of trouble

[2019-08-27 17:01] HelaGone commented on #45
Hell yeah!
Thanks for pointing me out in the right path. It's working good. Yesterday I got so close to your solution, but I was missing the fact that I need a fromJson in the model too!

Thanks Sir, you've earned a couple of beers!

[2019-09-16 19:55] tuckerjt07 opened #53 "Unhandled Exception: Converting object to an encodable object failed: Instance of 'AppState'"
I am getting the above error message when trying to use Flutter. I believe the issue is due to the fact that AppState has a runtimeType property being added somewhere that is not serializable. Has anyone else faced this issue?

![image](https://user-images.githubusercontent.com/8493561/64988672-9b5e0b00-d891-11e9-9c1e-2a783ee9e5c9.png)

My files:

main.dart
[code]

counter_model.dart
[code]

state

[2019-09-17 18:37] Cretezy commented on #53
In your `state.dart`, you made 2 small typos:

[code]
to
[code]

Also, your `AppState.fromJson` won't work:
[code]

And your `Counter.fromJson`:
[code]

[2019-09-17 18:37] #53 closed

[2019-09-17 18:39] Cretezy commented on #46
Going to close due to inactivity.

[2019-09-17 18:39] #46 closed

[2019-09-17 18:42] Cretezy commented on #51
Sorry I haven't had a lot of time to work on this.

Due to how JSON is, it's all or nothing. I will try to come up for a way to have multiple save locations per key.

If you are storing a very large amount of data, I would highly suggest you use a hybrid approach and use a SQLite database as your storage mechanism instead of redux_persist, and load data dynamically. I've used this in one of my app

[2019-09-17 19:33] tuckerjt07 commented on #53
Thanks that did the trick. I feel like a moron but it works.

[2019-09-17 19:33] Cretezy commented on #53
You're welcome :)

[2019-09-17 19:35] tuckerjt07 commented on #53
Actually, it's not throwing a fatal error anymore but I'm still getting a serialization error.

I'm still learning the ins and outs of Dart and Flutter but it seems to me it has to be the runtimeType property. If I stop the execution on a breakpoint and run json.encode(state.counter) it completes with no issues. It's only with runtimeType that it errors out.

[code]

[2019-09-17 20:13] Cretezy commented on #53
What's the first line of the error?

[2019-09-17 20:15] tuckerjt07 commented on #53
[code]

Sorry didn't see that I missed it.

[2019-09-17 20:16] Cretezy commented on #53
Can you give me the full update code for app state and counter?

[2019-09-17 20:18] tuckerjt07 commented on #53
state.dart
[code]

counter_model.json
[code]

Breakpoint at serialization.dart line 28 with manual execution in debug console

[code]

[2019-09-18 00:22] Cretezy commented on #53
`stringToUint8List(json.encode(state.runtimeType))` doesn't really make sense, are you calling that yourself?

Also might need a null-check:

[code]

[2019-09-18 00:35] tuckerjt07 commented on #53
Yeah, I'm calling that myself. With everything else in AppState serializing out individually I was trying it to see if it would. I'll try the null check.

No luck, it's still throwing the exception with the null check.

[2019-09-20 01:30] tuckerjt07 commented on #53
I started over from scratch and set up persist first. Had a couple of false starts but it's working now. Don't really see a difference. Thanks for the patience and help!

[2019-09-20 01:31] tuckerjt07 opened #54 "Ability to Programmatically Delete Persisted Data"
Is there the ability to delete persisted data from the store during development?

[2019-09-21 06:12] Cretezy commented on #54
What do you mean delete? Like delete the persisted file or data inside your state?

[2019-09-23 14:20] tuckerjt07 commented on #54
Delete the persisted file so that state can be blanked and load from an empty state when testing. I know I can change the key and it will do the same but would like to be able to do it without continually incrementing that name.

[2019-09-23 18:49] Cretezy commented on #53
Sorry for late reply. Glad it's working for you!

[2019-09-23 18:50] Cretezy commented on #54
You can also just not load the state, which would be as if you are using a new file:

[code]

[2019-09-23 18:52] Cretezy commented on #54
To reset, you can call `.save(null)` on your storage to write an empty file BTW, just leaving this here for reference.

[2019-09-23 18:52] #54 closed

[2019-10-05 18:15] JinHoSo commented on #22
@emaddoma You can use like this

[code]

[code]

[2019-10-30 05:51] LiewJunTung commented on #46
Hello @Cretezy, I have encountered this issue as well while I was developing a web app with Flutter Web. The fix is to remove the `external` keyword on lines shown in the error above.

[2019-12-08 10:07] leonprou opened #56 "Support Redux 4.0"
Is this possible to support also a newer version on redux?

[2019-12-08 17:57] Cretezy commented on #56
I was not aware of a new Redux update. Will try to update today!

[2019-12-20 02:50] Cretezy commented on #56
Published 0.8.3 with support. Thanks @juangaspar (https://github.com/Cretezy/redux_persist/pull/57)

[2019-12-20 02:50] #56 closed

[2020-01-03 11:09] Caldarie opened #58 "Unhandled Exception: Converting object to an encodable object failed: Instance of 'AppState'"
Hi Charles,

I am still getting past multiple errors even after I uninstalled your packages:

1. `Unhandled Exception: SerializationException: On load: type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'String'`
2. `Unhandled Exception: SerializationException: On load: type 'String' is not a subtype of type 'AppState' `
 3. `Unhandled Exception: SerializationException: On loa

[2020-01-03 16:29] Cretezy commented on #58
Hi, this seems like you are trying to load a string as a list. Can you please post your code?

[2020-01-05 12:56] Caldarie commented on #58
Hi Charles,

Thank you for the previous message. I

 got past the string error, but now i'm getting the following issue:
`Unhandled Exception: Converting object to an encodable object failed: Instance of 'AppState'`

**This is from Users**
[code]
**This is from Appstate**
[code]

**This is from Main**

[code]

[2020-01-05 16:24] Cretezy commented on #58
For AppState, instead of `users.toJson()`, you need to loop the array:

[code]

[2020-01-06 09:57] Caldarie commented on #58
Hi Charles,

Thanks again for the input.

While implementing your solution, I have come across an unusual error where `persistor.load()` continues to output the **exact same values** for the appstate, even though I have made changes to the appState. For example, the output below is exactly the same, despite logging in with different users.
`users: {email: SampleName@gmail.com, id: rCQmlm3XHQhVPT1S

[2020-01-07 10:29] #58 closed

[2020-01-11 09:44] jlcool commented on #46
I have the same question

[2020-01-11 09:55] konradkevin commented on #46
As @LiewJunTung said, you must manually remove all the 'external' keyword from the 2 files listed in the error message

packages/redux_persist/src/serialization.dart:6:22
packages/redux_persist/src/serialization.dart:8:14

packages/redux_persist/src/storage.dart:8:25
packages/redux_persist/src/storage.dart:11:30

This is just a temporary solution but hope this helps

[2020-01-11 10:07] jlcool commented on #46
thank you

[2020-01-21 04:00] MarcoSavaglia commented on #39
I'm also finding that this occurs on multiple Android devices, Samsung Galaxy, etc. It looks like it's due to the auto back up being enabled by default on Android 6.0+.

To turn it off, you can add the following line to the `<application>` tag in /android/app/src/main/AndroidManifest.xml

`android:allowBackup="false"`

Not sure if a similar step is also required for iOS at this point in time.

@Cr

[2020-01-21 04:56] Cretezy commented on #39
That's good to know. I'll add a note in the README, reopening to keep as a reminder

[2020-03-19 15:08] Tobi696 opened #59 "Example code leads to Exception"
The example code in the readme leads to following Error:
[code]

It can be fixed by calling WidgetsFlutterBinding.ensureInitialized(); before calling persistor.load, but this makes the app startup slowly.

Please help!

[2020-03-19 21:01] Cretezy commented on #59
This seems like an upstream from the storage engine. If you are calling `load` before `runApp` is ran, this is expected. I'll add a note in the README.

`ensureInitialized` is the same as doing `runApp` though, so no change is startup speed is expected. It's

[2020-04-03 09:59] nmacherey opened #60 "Error compiling flutter build web"
Hi I am trying to compile a web version of my application and it seams to have some compilation errors comming from the package.

Could you help on this ?

[code]

[code]

initial-state.dart:

[code]

Web Version:
[code]

IO Version
[code]

[2020-04-04 01:26] Cretezy commented on #60
Can you give me a small demo project I can play with? I haven't used the web library very much, and would like to make sure I can fix it properly for you

[2020-04-04 01:26] Cretezy commented on #59
Let me know if you have any follow up questions!

[2020-04-04 01:26] #59 closed

[2020-04-04 09:30] nmacherey commented on #60
Hi Charles,

Thanks for your reply,
I've tried removing the external declarations in the files and It successfuly compiles and work in a web environment.

I don't know why there should be these declarations.
I will trye to set up a project for you

Thanx

[2020-04-06 15:19] ghost23 commented on #59
Hi @Cretezy , how would you change the code in your Example then, to make it work?

https://github.com/Cretezy/redux_persist/blob/master/packages/redux_persist_flutter/example/redux_persist_flutter_example.dart#L16

I am struggling to find a solution.

[2020-04-16 10:58] ghost commented on #60
@nmacherey what did you mean with this?

I'm experiencing the same issue, really don't know what to do.

I wonder if the import part is correct
[code]
[code]

[2020-04-23 01:46] Cretezy commented on #60
I have released redux_persist 0.8.4 with a fix for this. Thanks for the report!

[2020-04-23 01:46] #60 closed

[2020-05-04 16:35] Soykertje opened #61 "Store objects that contain objects list in them using Flutter"
This is no a issue, more like a question but i don't know another channel to do this question, so feel free to erase it if is necessary.

I'm new in Flutter and i don't know so much so please be patient.

Can i store objects that contain an object list inside of them using flutter?

Example:

[code]

There is any way to save it persistently with redux?

[2020-05-05 01:13] Cretezy commented on #61
In your `toJson` method ( in Purchases), simply serialize the whole list (example):

[code]

And in product, simply implement the `toJson`/`fromJson` as per the examples in this repo.

Feel free to reopen if you have any additional questions!

[2020-05-05 01:13] #61 closed

[2020-05-05 14:43] redbluenat opened #62 "Error: Not found: 'dart:html'"
Hi,
I am using in my project **redux_persist_web** and **redux_persist**. Does anybody configured this to work on both platforms? When I want to build mobile version I get an error:

[code]

My code at the moment :

[code]

Thanks for any help!

[2020-05-05 15:09] Cretezy commented on #62
You don't need `redux_persist_web` in this case.

`redux_persist_flutter` supports web on it's own (when using `FlutterStorage(location: FlutterSaveLocation.sharedPreferences)`).

I've added a note but haven't published an update yet, so Pub isn't updated yet

[2020-05-05 15:09] #62 closed

[2020-05-05 15:54] redbluenat commented on #62
@Cretezy Thank you for your help! Everything is working now :)

[2020-05-05 23:51] Soykertje commented on #61
Hi @Cretezy, when i was implementing redux (following the ``redux_persist_flutter_example.dart`` example), i got an issue that i don´t know why it happens.

The `Intermediary` class is for initializing and adding routes, the error appears at `home.`

Code:
[code]
[code]

Error message: ```The constructor returns type 'dynamic'  that isn't of expected type 'Widget'```

Personally i think it is beca

[2020-05-06 00:40] Cretezy commented on #61
I'll need a fuller example. It seems like your doing something wrong, but that code doesn't help much. Can you make a single-file example to share?

[2020-05-06 02:15] Soykertje commented on #61
Oh, sorry.

I was doing the example but i couldn't get the error again, i realized that i did a mistake, i have two `MainScreen`, one is for try changes and another like the `stable version`, when i copied the entire `MainScreenTwo` to `MainScreen`, i forgot to erase the `Two` one.

I almost finalice to implement Redux in my app but i have a question:

How can i save the objects with the type of d

[2020-06-24 19:16] kwskii opened #63 "State is never saved"
Hey there.

I must be  doing something wrong but I just tried the example code and couldn't get my app state to ever persist. I can see it trying to load but json is never not null, nor any of my breakpoints on the toJson methods get hit.

[code]

main.dart
[code]

And then on my main AppState class where my methods are declared. (they actually are being created through json_annotation)

[code]

I

[2020-06-24 19:36] flipch commented on #63
Oh my lord. I forgot to add the persistor middleware.

[code]

[2020-06-24 19:36] #63 closed

[2020-07-22 22:07] DiegoFHG opened #64 "Not persisting state."
I tried using this library for persisting. However, state is not persisting, and errors show but are not so descriptive.

My main file:

[code]

AppState:

[code]

Logs:

[code]

I'm testing on iOS.

[2020-07-23 19:03] DiegoFHG commented on #64
So I was not making the right mutation on login, so now is fixed. And the above error was due to trying to persist empty state.

[2020-07-23 19:03] #64 closed

[2020-08-17 08:57] wangxingxing123654 opened #65 "flutter: Warning database has been locked for 0:00:10.000000. Make sure you always use the transaction object for database operations during a transaction"
flutter: Warning database has been locked for 0:00:10.000000. Make sure you always use the transaction object for database operations during a transaction
then the picture cannot get the picture,because it's blocked the http request for image

[2020-08-26 19:14] Cretezy commented on #65
This is not caused by redux_persist, like from https://github.com/tekartik/sqflite/issues/201

[2020-08-26 19:14] #65 closed

[2020-08-26 19:21] Cretezy commented on #39
Added note.

[2020-08-26 19:21] #39 closed

[2020-09-20 09:43] realcarlos commented on #60
Hi @Cretezy could you please upgrade the redux_persist_web ?

[2020-09-21 15:44] Cretezy commented on #60
No need for redux_persist_web for Flutter, use redux_persist_flutter (see README for instructions)

[2020-09-30 09:25] chougron opened #66 "Blacklist / Whitelist with Redux devtools"
From what I understand, in order to avoid some attributes of the state to be stored, you need to not include it in the **toJson** function of your state.

Sadly, it is also this function that is used to display the state in the redux devtools (https://pub.dev/packages/redux_remote_devtools).

In my case I would like to see my state changing, to be able to debug my app, but without all of it being

[2020-10-01 11:45] WingCH commented on #66
same problem!

[2020-11-25 17:15] Cretezy commented on #66
Have you tried using transformers for this?

I'll look into supporting another method than `toJson` to allow support with other tools.

[2021-01-07 08:41] WingCH commented on #66
Can you provide  "transformers" example for Blacklist / Whitelist? Thanks...

[2021-01-18 10:35] laxkarparas1 opened #67 "how to manage api when data. is turned off"
i'm beginner in flutter , i don't know how to manage api data using  redux persist when mobile data is turned off

[2021-01-26 10:56] oengmengthong opened #68 "encryption data when save to json and decryption data from json"

[2021-01-31 23:23] wujek-srujek opened #69 "Flutter example doesn't work?"
It seems the example here: https://github.com/Cretezy/redux_persist/blob/master/packages/redux_persist_flutter/example/redux_persist_flutter_example.dart
doesn't work. First, it requires the `WidgetsFlutterBinding.ensureInitialized();` call because otherwise it fails with:
[code]

When the line is added, it fails with:
[code]

That's because this function: https://github.com/Cretezy/redux_persist/

[2021-02-09 05:23] callagga commented on #69
had same issue

[2021-02-24 10:50] zombie6888 commented on #66
Same problem here. I am using generated json by json_serializable package for remote devtools.

[2021-02-26 06:43] xiaocode337317439 opened #70 "upgrade path_provider: 2.0.0"
Because redux_persist_flutter 0.8.3 depends on path_provider ^1.6.0 and no versions of redux_persist_flutter match >0.8.3 <0.9.0, redux_persist_flutter ^0.8.3 requires path_provider ^1.6.0.

[2021-03-04 17:34] DmitriyGribennikov commented on #69
Same issue. Have you found solution?

[2021-03-04 19:28] wujek-srujek commented on #69
@DmitriyGribennikov yes, just add `WidgetsFlutterBinding.ensureInitialized();` somewhere before your code using this library if you don't have it yet for the first issue. Add a `null` check for the second issue.

But personally I've migrated away from this library as it seems pretty abandoned, the last commit on master is 6 months old, and nobody answers to issues at all. (Actually, I've migrated

[2021-03-05 21:38] connlaoi commented on #54
Leaving this comment for additional clarity.

In my case, I was calling my sign-out action inside middleware after clearing image caches, local storage, and shared preferences. As you would if you were using it to signal a successful middleware http response. However, doing this at the end of the "sign-out purge" caused the persistor to ignore the AppState.initial() which was being called by my si

[2021-03-06 08:27] tynn commented on #6
I had the same issue recently, but it was a problem with generics. I used the type as `Persistor` instead of `Persistor<AppState>`. Declaring the generic type made the difference.

[2021-03-21 21:47] kevmeyer commented on #70
Resolved with https://github.com/Cretezy/redux_persist/pull/72

[2021-03-26 16:41] elvisun commented on #6
Having the same issue with the following code:
[code]
I had `persistor` declared in another file and passed it over.

Once I moved `persistor` into the same file the issue went away  ¯\_(ツ)_/¯

[2021-04-12 18:32] #69 closed

[2021-04-12 18:32] #70 closed

[2021-04-12 18:32] Cretezy commented on #68
This is already a supported use-case using transformers. This should be either implemented by the application or using a third-party library.

[2021-04-12 18:32] #68 closed

[2021-04-12 18:33] Cretezy commented on #67
I'm not exactly sure what you mean by this. Could you explain further?

[2021-07-02 20:46] EricConnect opened #74 "Unhandled Exception: Null check operator used on a null value"
Hello. When I use your example. An issue was occur as the title.

Could you please update the example to provide a better way use redux_persist?
I debugged some details. I believe this bug is not belongs to you. Actually, when I use the io file store. It has the same issue.
If you can update the example and find a new way to initialized the redux state it will give me a big help.
Thank you very mu

[2021-07-02 20:48] #74 closed

[2021-08-26 19:08] daniel-sc commented on #74
Hi @EricConnect

I have a similar issue - how did you fix this?

Best, Daniel

[2021-08-26 19:11] daniel-sc commented on #69
This should be added to the readme/example on https://pub.dev/packages/redux_persist !

[2021-08-26 19:41] EricConnect commented on #74
Hi Daniel,

I remember my problem is lost one line in main.dart.
[code]
Best,
Eric

[2022-03-16 13:07] michaeledrian commented on #67
@laxkarparas1
can you explain more about the issue?
if not maybe @Cretezy can close the issue

[2022-06-12 04:13] abhineetchandan opened #76 "Error [ERROR:flutter/lib/ui/ui_dart_state.cc(198)] Unhandled Exception: Converting object to an encodable object failed: Instance of 'AppMainState'"
I am using `SpeechToText` object in my store. But I omit it in JSON serializer. But it is causing an error
[code]

Here's the code for my serializer
[code]
I am not serializing the SpeechToText object but the object is present in my Redux store. Is that the reason of the problem?
EDIT: It is also not able to encode a list.
Thanks in advance

[2022-06-14 11:20] #76 closed

[2022-09-18 17:04] YoofiBP commented on #51
Can you share an implementation for how you achieved this

[2022-09-18 17:05] YoofiBP opened #77 "Dynamic Storage Engine Location"
Is there a way to dynamically set the persistors storage location on app start.

So for instance if I based on input I want to persist to 123.json or 456.json